<link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/img/apple-touch-icon.png' | 'https://giocoal.github.io/minimal-portfolio'}}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/img/favicon-32x32.png' | 'https://giocoal.github.io/minimal-portfolio'}}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/img/favicon-16x16.png' | 'https://giocoal.github.io/minimal-portfolio'}}">
<link rel="manifest" href="{{ '/assets/img/site.webmanifest' | 'https://giocoal.github.io/minimal-portfolio'}}">
<link rel="shortcut icon" href="{{ '/assets/img/favicon.ico' | 'https://giocoal.github.io/minimal-portfolio'}}">
<link rel="mask-icon" href="{{ '/assets/img/safari-pinned-tab.svg' | 'https://giocoal.github.io/minimal-portfolio'}}" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="{{ '/assets/img/browserconfig.xml' | 'https://giocoal.github.io/minimal-portfolio'}}">
<meta name="theme-color" content="#ffffff">